@use "./base.scss";

blockquote {
	margin: 0 0 10px 0;
	padding-left: 0;
	padding: 10px;
	border: 1px solid slategrey;
	border-radius: 5px;
  }

  blockquote h2 a.internal {
	  padding: 0;
	  background-color: transparent;
  }

  blockquote h2 {
	  margin-top: 0;
  }